/*comentario*/
* {
    margin: 10;
}
#texto01 {
    text-align: center;
    color:red;
}

#texto02 {
    text-align: center;
     background-color: aqua;
}

.texto{
    font-size: 30px;
    text-align:center;
}

h5 {
    text-align:center;

    color: blueviolet;
}


